@use './variables' as *;

button {
    color: $white;
    height: 3.65em;
    background: $blue-800;
    font-family: $font;
    font-size: $font-size;
    width: 100%;
    border-radius: .5em;
    border-color: transparent;
    cursor: pointer;

    &:hover, &:active, &:focus {
        background: linear-gradient(288deg, rgba(255,106,58,1) 0%, rgba(255,62,131,1) 100%);
        filter: drop-shadow(0px 5px 15px rgba(255, 106, 58, 0.5)) drop-shadow(0px 5px 10px rgba(255, 62, 131, 0.5));
    }
}